.tag {
  flex-grow: 1;
  width: 30%;
  height: 15rem;
  //   padding: 1rem;
  margin: 1rem;
  border: solid;
  background-image: url("https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);

  .tag-button {
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    outline: none;
  }
}
